<ion-header
class="ion-no-border"
mode="ios">
  <ion-toolbar
  mode="ios"
  class="ion-bg-black">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="6">
          <ion-button
          (click)="closeModal()"
          class="close-modal-btn ion-color-white"
          fill="clear"
          mode="ios"
          title="Voltar">
            <ion-icon name="arrow-back-outline" class="mg-right-5"></ion-icon> Voltar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content
[forceOverscroll]="false">
  <form [formGroup]="productForm" class="product-card-modal-content">
    <!-- CART -->
    <app-cart [handler]="'modal'"></app-cart>

    <div class="product-header">
      <div class="product-img-wrapper">
        <div class="product-img-container animate__animated animate__fadeIn">
          <ion-img [src]="'./../../../assets/products/burguer.png'" alt="" title=""></ion-img>
        </div>
      </div>
    </div>

    <div class="product-description">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col class="no-pad-top">
            <div class="price-wrapper">
              <ion-text mode="ios" class="ion-text-end">
                <p class="color-gray-text fs-18 font-w-normal"><b>{{ product.price| currency: 'BRL' }}</b></p>
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12" class="ion-text-center">
            <ion-text mode="ios">
              <p class="color-gray-text fs-18 font-w-normal mg-top-8">{{ product.name }}</p>
              <p class="color-gray-text fs-14 font-w-thin mg-top-8">{{ product.description }}</p>
            </ion-text>
          </ion-col>

          <ion-col size="12">
            <div class="observation-wrapper">
              <ion-textarea
              label="Algum comentário?" labelPlacement="stacked"
              [placeholder]="'Ex: sem cebola, sem sal, etc...'"
              [formControlName]="'obs'"
              mode="ios"
              type="text"
              [inputmode]="'text'">
              </ion-textarea>
            </div>
          </ion-col>

          <ion-col size="12">
            <div
            class="more-or-less-wrapper">
              <div class="add-wrapper">
                <ion-input
                [formControlName]="'quantity'"
                [maxlength]="3"
                mode="ios"
                class="ion-text-center"
                type="text"
                [inputmode]="'number'">
                  <ion-button fill="clear" slot="start" aria-label="remove" class="thin-icon" (click)="decrease()" [disabled]="productForm.get('quantity')?.value === 1">
                    <ion-icon slot="icon-only" name="remove-circle-outline" aria-hidden="true"></ion-icon>
                  </ion-button>

                  <ion-button fill="clear" slot="end" aria-label="add" class="thin-icon" (click)="increase()">
                    <ion-icon slot="icon-only" name="add-circle-outline" aria-hidden="true"></ion-icon>
                  </ion-button>
                </ion-input>
              </div>

              <ion-button
              (click)="addToCart()"
              class="main-solid fs-14"
              mode="md"
              title="Adicionar no carrinho"
              fill="solid"
              shape="square">
                <ion-icon name="cart-outline" class="mg-right-5 fs-18"></ion-icon> Adicionar <b class="mg-left-5">{{ totalPrice | currency: 'BRL' }}</b>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
