.cart-wrapper {
  position: fixed;
  top: 96px;
  right: 0;
  z-index: 315;

  .cart-container {
    background: var(--white);
    padding: 14px 18px 3px 21px;
    border-radius: 100px 0 0 100px;
    cursor: pointer;
    opacity: .6;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    transition: 200msease;

    &:hover {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }

    ion-text {
      position: relative;
      p {
        font-size: 30px;
      }

      ion-badge {
        position: absolute;
        top: -5px;
        right: -8px;
        background: var(--primary-main-color);
      }
    }
  }
}
